<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celulares</title>
</head>
<body>

    <h1> Tabela de computadores</h1> 

    <p>Nome: {{ nome }} </p>

    <table border="5">
        <tr>
            <td>
                Computadores
            </td>
            <td>
                Marca
            </td>
            <td>
                valor
            </td>
        </tr>
        <tr>
                    <tr>
            <td>
                XXXX
            </td>
            <td>
                XXXX
            </td>
            <td>
                R$ XXXX
            </td>
        </tr>
    </table>
</body>
</html>