{% extends "base.html" %}
{% load static %}

{% block titulo %}Página inicial{% endblock %}

{% block Conteudo %}

 <section id="home"><!-- Início seção home -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex"><!-- Textos da seção -->
            <div class="align-self-center">
              
              <h1 class="display-4">Suas contas, descomplicadas</h1>
              <p>
                Usado por mais de 1 milhão de pessoas, o Finans é uma ferramenta online que vai facilitar sua vida financeira.
              </p>

              <form class="mt-4 mb-4">
                <div class="input-group input-group-lg">
                  <input type="text" placeholder="Seu e-mail" class="form-control">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary">Cadastre-se</button>
                  </div>
                </div>
              </form>

              <p>Disponível para
                <a href="" class="btn btn-outline-light">
                  <i class="fab fa-android fa-lg"></i>
                </a>
                <a href="" class="btn btn-outline-light">
                  <i class="fab fa-apple"></i>
                </a>
              </p>

              
            </div>
          </div><!--/fim textos da seção -->
          <div class="col-md-6 d-none d-md-block">
            <img src="{% static 'img/capa-mulher.png' %}">
          </div>
        </div>
      </div>
    </section><!--/fim seção home -->

        <section class="caixa"><!--/Início seção saiba -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h2>Saiba para onde vai o seu dinheiro</h2>
              <p>
                Com o Finans, você categoriza todos os seus lançamentos. Com gráficos simples, você sabe de onde vem e para onde vai o seu dinheiro.
              </p>
              <a href="" class="btn btn-primary">Veja mais</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="{% static 'img/saiba.png' %}" class="img-fluid">
          </div>
        </div>
      </div>
    </section><!--/FIM seção saiba -->


    {% endblock %}